<!DOCTYPE html>
<html amp>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{page.title}}</title>
    <link rel="canonical" href="https://mac-blog.org.ua{{page.url}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="Author" content="Marchenko Alexandr, marchenko.alexandr@gmail.com">
    <meta name="Date" content="{{ page.date }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="//feeds.feedburner.com/org/baFo">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        {% include vs.css %}
        {% include styles.css %}
    </style>
    {% if page.tags.length > 0 %}<meta name="keywords" content="{{ page.tags | sort | join: ', ' | downcase }}">{% endif %}
</head>
<body>
    <a name="top"></a>
    {{content}}
    <footer>
        <a href="#top">Top</a>
        <a href="/">Home</a>
        <a href="/search.html">Search</a>
        {% if page.url == '/index.html' or page.url == '/' %}<a href="//www.facebook.com/marchenko.alexandr">Facebook</a>
        <a href="//twitter.com/alexandrm">Twitter</a>
        <a href="//youtube.com/user/marchenkoalexandr">Youtube</a>
        <a href="//github.com/mac2000">Github</a>
        <a href="callto://mac2000-skype">Skype</a>
        <a href="mailto:marchenko.alexandr@gmail.com">Email</a>{% endif %}
        <a href="https://plus.google.com/114259064191790696813?rel=author" hidden>Google</a>
    </footer>
</body>
</html>
